/* =========================
    1. Base
========================= */

:root {
  --font-base: "Noto Sans JP", sans-serif;
  --color-base: #333;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  margin: 0;
  line-height: 1.6;
  font-family: var(--font-base);
  color: var(--color-base);
  -webkit-text-size-adjust: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
dl,
figure {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

img,
picture {
  display: block;
  width: 100%;
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  color: inherit;
}

button,
input,
textarea,
select {
  border: none;
  background: none;
  font: inherit;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* ================================
    2. Layout Blocks
================================ */

.main__layout {
  display: flex;
  flex-direction: column;
}

/* ---------- Hero ---------- */

.hero {
  position: relative;
  overflow: hidden;
}

.hero__image--sp {
  display: block;
  width: 100%;
}

.hero__image {
  display: none;
}

.hero__logo-official {
  position: absolute;
  top: 16px;
  left: 16px;
  width: 20vw;
}

.hero-cta {
  display: none;
}

.hero__logo-rotation {
  position: absolute;
  top: 60%;
  left: 16px;
  width: 30vw;
}

.hero__title {
  position: absolute;
  width: 100%;
}

.hero__logo-main {
  position: absolute;
}

.spin {
  animation: rotate 12s linear infinite;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.hero__catchcopy {
  position: absolute;
  top: 50%;
  right: 0;
  width: 65vw;
}

.hero-scroll__text {
  position: absolute;
  bottom: 16px;
  z-index: 1;
  display: flex;
  width: max-content;
  animation: scroll 35s linear infinite;
}

.hero-scroll__img {
  width: 350vw;
}

@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}

.hero__arrangement {
  display: none;
}

/* ---------- Carousel Banner ---------- */

.carousel-banner {
  margin-top: 56px;
}

.carousel-banner .swiper {
  --swiper-navigation-size: 4vw;
}

.carousel-banner .swiper-button-prev {
  color: #fff;
}

.carousel-banner .swiper-button-next {
  color: #fff;
}

.carousel-banner .swiper-pagination {
  position: static;
  --swiper-pagination-color: #000;
  --swiper-pagination-bullet-inactive-color: #555;
}

/* ---------- News ---------- */
.news {
  margin-top: 24px;
}

.news__divider--bold {
  border: 1.2px solid #707070;
}

.news__divider {
  margin-top: 10px;
}

.news__body {
  padding-block: 20px;
}

.news__title {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  font-size: 32px;
  font-weight: 600;
  font-style: italic;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.news__title::before,
.news__title::after {
  content: "";
  display: block;
  width: 40px;
  height: 1px;
  background: #444444;
}

.news__list {
  margin-top: 24px;
  padding-inline: 24px;
  font-weight: 500;
}

.news__item {
  margin-top: 16px;
  padding-bottom: 12px;
  border-bottom: 1px solid #ccc;
}

.news__date {
  font-size: 14px;
}

.news__heading {
  overflow: hidden;
  font-size: 14px;
  font-weight: inherit;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.news__action {
  max-width: 1000px;
}

.news__btn {
  margin: 36px auto 0;
  width: 200px;
  height: auto;
}

/* ---------- Banner ---------- */
.banner {
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  margin-top: 32px;
}

.banner__image {
  margin: 0 auto;
  width: 90%;
}

/* ---------- Text mask ---------- */
.text-mask {
  padding-block: 40px;
}

.text-mask__image {
  max-width: 1200px;
}

/* ---------- About ---------- */

.about__header {
  padding-block: 64px;
  background-image: url("../images/about__header-bg.webp");
  background-position: center;
  background-size: cover;
  color: #fff;
}

.about__title {
  position: relative;
  padding-left: 48px;
  font-size: 32px;
  font-weight: 600;
  font-style: italic;
  text-transform: uppercase;
  line-height: 1;
}

.about__title::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  width: 40px;
  height: 1px;
  background-color: #fff;
  transform: translateY(-50%);
}

.about__text {
  width: 80%;
  margin: 16px 0 0 16px;
  padding-left: 16px;
  font-size: 15px;
  line-height: 30px;
  border-left: 1px solid #fff;
}

.about__br {
  display: none;
}

.about__content {
  position: relative;
  padding-top: 96vw;
  width: 100%;
  height: 500px;
  background-image: url("../images/bg-blue-abstract.webp");
  background-repeat: no-repeat;
  background-size: 50%;
  background-position: left top;
}

.about__image {
  position: absolute;
  right: 0;
  top: -32px;
  width: 80%;
}

.about__text-image {
  width: 88%;
  max-width: 400px;
  margin: 0 auto;
}

.about__description{
  
}

/* ================================
    3. Component Blocks
================================ */

/* ==================================
    4. Responsive (min-width:768px)
=================================== */

@media (min-width: 768px) {
  .main__layout {
    display: flex;
    flex-direction: column;
  }

  /* ---------- Hero ---------- */

  .hero {
    position: relative;
    overflow: hidden;
    aspect-ratio: 160 / 89;
    order: 1;
  }

  .hero__image--sp {
    display: none;
    width: 100%;
  }

  .hero__image {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 1000ms ease;
  }

  .hero__image--active {
    opacity: 1;
  }

  .hero__logo-official {
    position: absolute;
    top: 40%;
    left: auto;
    right: 16px;
    width: 10vw;
  }

  .hero-cta {
    position: absolute;
    top: 60%;
    right: -18%;
    display: block;
    width: 30vw;
    transition: right 1000ms ease;
  }

  .hero-cta:hover {
    right: 0;
  }

  .hero__logo-rotation {
    display: none;
  }

  .hero__title {
    position: absolute;
    width: 100%;
  }

  .hero__logo-main {
    position: absolute;
  }

  .spin {
    animation: rotate 12s linear infinite;
  }

  @keyframes rotate {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }

  .hero__catchcopy {
    display: none;
  }

  .hero-scroll__text {
    position: absolute;
    bottom: 0;
    display: flex;
    z-index: 1;
    width: max-content;
    animation: scroll 35s linear infinite;
  }

  .hero-scroll__img {
    width: 240vw;
  }

  @keyframes scroll {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-50%);
    }
  }

  .hero__arrangement {
    display: block;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 80vw;
  }

  /* ---------- Carousel Banner ---------- */

  .carousel-banner {
    margin-top: 56px;
    order: 2;
  }

  .carousel-banner .swiper {
    --swiper-navigation-size: 4vw;
  }

  .carousel-banner .swiper-button-prev {
    color: #fff;
  }

  .carousel-banner .swiper-button-next {
    color: #fff;
  }

  .carousel-banner .swiper-pagination {
    position: static;
    --swiper-pagination-color: #000;
    --swiper-pagination-bullet-inactive-color: #555;
  }

  /* ---------- News ---------- */
  .news {
    margin-top: 24px;
    order: 3;
  }

  .news__divider--bold {
    border: 1.2px solid #707070;
  }

  .news__divider {
    display: none;
  }

  .news__body {
    padding-block: 20px;
  }

  .news__title {
    position: relative;
    display: block;
    margin-top: 0;
    font-size: 96px;
    font-weight: 600;
    font-style: italic;
    letter-spacing: 2px;
    text-align: center;
  }

  .news__title::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    width: calc(50% - 200px);
    height: 1px;
    background: #444444;
  }

  .news__title::after {
    display: none;
  }

  .news__list {
    margin: 24px auto 0;
    padding-inline: 24px;
    width: 600px;
    font-weight: 500;
  }

  .news__item {
    display: flex;
    margin-top: 16px;
    padding-bottom: 12px;
    border-bottom: none;
  }

  .news__date {
    flex: 0 0 150px;
    font-size: 14px;
  }

  .news__heading {
    flex: 1;
    overflow: hidden;
    font-size: 14px;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-weight: inherit;
  }

  .news__action {
    position: relative;
    display: flex;
    justify-content: flex-end;
    width: 80%;
    margin: 16px auto 0;
  }

  .news__action::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    right: 220px;
    height: 1px;
    background: #444444;
    transform: translateY(-50%);
  }

  .news__button {
    display: inline-block;
    transition: transform 0.4s ease;
  }

  .news__button:hover {
    transform: translateX(20px);
  }

  .news__btn {
    width: 200px;
  }

  /* ---------- Banner ---------- */
  .banner {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 32px;
    /* order仮値 */
    order: 100;
  }

  .banner__image {
    margin: 0 auto;
    width: 90%;
  }

  /* ---------- Text mask ---------- */
  .text-mask {
    padding-block: 40px;
    order: 4;
  }

  .text-mask__image {
    margin: 0 auto;
    width: 80%;
    max-width: 1200px;
  }

  /* ---------- About ---------- */
  .about {
    color: #fff;
    order: 5;
  }

  .about__header {
    padding-block: 100px;
    background-image: url("../images/about__header-bg--pc.webp");
    background-position: center;
    background-size: cover;
  }

  .about__title {
    position: relative;
    padding-left: 10vw;
    font-size: 95px;
    font-weight: 600;
    font-style: italic;
    text-transform: uppercase;
  }

  .about__title::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    width: 8vw;
    height: 1px;
    background-color: #fff;
    transform: translateY(-50%);
  }

  .about__text {
    width: 680px;
    margin: 24px 0 0 16px;
    padding-left: 10vw;
    font-size: 15px;
    line-height: 30px;
    border-left: none;
  }

  .about__br {
    display: inline;
  }
}
